<h1>Motivational Quotes</h1>

<div class="pics">
<%= image_tag("qoute2.jpg", :size => '265x125') %>
<%= image_tag("qoute3.gif", :size => '265x125') %>
<%= image_tag("qoute4.jpg", :size => '265x125') %>
<%= image_tag("qoute5.jpg", :size => '265x125') %>
</div>
<br>
<br><%= link_to "Back", about_index_path %>
