
<% if current_teacher%>
<h1>List of Created Tests</h1>
<p>Find created test under your name name</p>

<div class="testTeacher">
  <div class="testShowTeacher">
<%@tests.each do |t|%>
Teacher Name: <%=t.teacher_name%>
<br>Subject: <%=t.subject%>
<br>Grade Level: <%=t.grade_level%>
<br>

<% if t.teacher_id == current_teacher.id %>
  <div><a href="/tests/<%=t.id %>/">Edit Test</a></div>
<% end %>
<br>
<%end%>
  </div>
</div>
<br><%= link_to "Welcome Page", welcome_index_path %>
<br><%= link_to "Create Test", new_test_path %>
<br><%= link_to "Student Results", scores_path %>
  <%end%>

  <% if current_student %>
  <h1>List of Created Tests</h1>
  <p>Find your teacher, subject, and grade level; then select your test</p>

<div class="test">
  <div class="testShow">
  <%@tests.each do |t|%>
  Teacher Name: <%=t.teacher_name%>
  <br>Subject: <%=t.subject%>
  <br>Grade Level: <%=t.grade_level%>
  <br>
    <div><a href="/tests/<%=t.id %>/">Take Test</a></div>
  <br>
    <hr>
  <%end%>
  </div>
</div>
<br><%= link_to "Welcome Page", welcome_index_path %>
    <%end%>
