<!DOCTYPE html>
<html>
  <head>
    <title>MikeFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
  <% if !teacher_signed_in? %>
    <%= link_to "Teacher Sign up", new_teacher_registration_path %>
    <%= link_to "Teacher Sign in", new_teacher_session_path %>
  <% end %>
  <% if teacher_signed_in? %>
    <%= link_to "Teacher Sign out", destroy_teacher_session_path, method: :delete %>
  <% end %>

  <% if !student_signed_in? %>
    <%= link_to "Student Sign up", new_student_registration_path %>
    <%= link_to "Student Sign in", new_student_session_path %>
  <% end %>
  <% if student_signed_in? %>
    <%= link_to "Student Sign out", destroy_student_session_path, method: :delete %>
  <% end %>


</nav>

    <%= yield %>
  </body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</html>
